@import "tailwindcss";


.primary {
  color: #3e36cf;
}
.secondary {
  color: #352092;
}
.bg-primary {
  background-color: #4536cf;
}
.bg-secondary {
  background-color: #242092;
}
.text-primary {
  color: #3636cf;
}

/* reglas hover (usar estas clases directamente) */
.hover-text-secondary:hover {
  color: #4a36cf;
}
.hover-bg-secondary:hover {
  background-color: #3636cf;
}
.hover\:bg-secondary:hover {
  background-color: #202492;
}
.hover\:text-secondary:hover {
  color: #2b2092;
}

.text-shadow {
  text-shadow: 2px 2px 0 #0066ff;
}