/* Starry Background Effect */
#stars,
#stars2,
#stars3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

/* Layer 1: Small stars (dense) */
#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1744px 122px #FFF,
134px 1321px #ffd86b,
92px 859px #FFF,
123px 123px #ffcc33,
456px 456px #FFF,
789px 789px #fff2b0,
101px 202px #FFF,
303px 404px #ffd86b,
505px 606px #FFF,
707px 808px #FFF,
909px 1010px #ffcc33,
111px 1212px #FFF,
1313px 1414px #fff2b0,
1515px 1616px #FFF,
1717px 1818px #ffd86b,
1919px 50px #FFF,
20px 500px #ffcc33,
800px 300px #FFF,
1200px 600px #ffd86b,
1500px 1000px #FFF,
400px 1800px #fff2b0,
600px 150px #FFF,
100px 1100px #ffd86b,
1800px 400px #FFF,
350px 750px #ffcc33,
950px 1250px #FFF,
1650px 150px #fff2b0,
250px 1950px #FFF,
1150px 850px #ffd86b,
550px 250px #FFF,
150px 1350px #ffcc33,
1350px 1750px #FFF,
1750px 350px #ffd86b,
450px 1150px #FFF,
750px 1550px #fff2b0,
1250px 450px #FFF,
1650px 1850px #ffcc33,
50px 1650px #FFF,
850px 50px #ffd86b;
animation: animStar 70s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1744px 122px #FFF,
134px 1321px #ffd86b,
92px 859px #FFF,
123px 123px #ffcc33,
456px 456px #FFF,
789px 789px #fff2b0,
101px 202px #FFF,
303px 404px #ffd86b,
505px 606px #FFF,
707px 808px #FFF,
909px 1010px #ffcc33,
111px 1212px #FFF,
1313px 1414px #fff2b0,
1515px 1616px #FFF,
1717px 1818px #ffd86b,
1919px 50px #FFF,
20px 500px #ffcc33,
800px 300px #FFF,
1200px 600px #ffd86b,
1500px 1000px #FFF,
400px 1800px #fff2b0,
600px 150px #FFF,
100px 1100px #ffd86b,
1800px 400px #FFF,
350px 750px #ffcc33,
950px 1250px #FFF,
1650px 150px #fff2b0,
250px 1950px #FFF,
1150px 850px #ffd86b,
550px 250px #FFF,
150px 1350px #ffcc33,
1350px 1750px #FFF,
1750px 350px #ffd86b,
450px 1150px #FFF,
750px 1550px #fff2b0,
1250px 450px #FFF,
1650px 1850px #ffcc33,
50px 1650px #FFF,
850px 50px #ffd86b;
}

/* Layer 2: Medium stars */
#stars2 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1744px 122px #FFF,
134px 1321px #ffd86b,
92px 859px #FFF,
123px 123px #ffcc33,
456px 456px #FFF,
789px 789px #fff2b0,
101px 202px #FFF,
303px 404px #ffd86b,
505px 606px #FFF,
707px 808px #FFF,
909px 1010px #ffcc33,
111px 1212px #FFF,
1313px 1414px #fff2b0,
1515px 1616px #FFF,
1717px 1818px #ffd86b,
1919px 50px #FFF,
20px 500px #ffcc33,
800px 300px #FFF,
1200px 600px #ffd86b,
1500px 1000px #FFF,
400px 1800px #fff2b0,
600px 150px #FFF,
100px 1100px #ffd86b,
1800px 400px #FFF,
350px 750px #ffcc33,
950px 1250px #FFF,
1650px 150px #fff2b0,
250px 1950px #FFF,
1150px 850px #ffd86b,
550px 250px #FFF,
150px 1350px #ffcc33,
1350px 1750px #FFF,
1750px 350px #ffd86b,
450px 1150px #FFF,
750px 1550px #fff2b0,
1250px 450px #FFF,
1650px 1850px #ffcc33,
50px 1650px #FFF,
850px 50px #ffd86b;
animation: animStar 120s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1744px 122px #FFF,
134px 1321px #ffd86b,
92px 859px #FFF,
123px 123px #ffcc33,
456px 456px #FFF,
789px 789px #fff2b0,
101px 202px #FFF,
303px 404px #ffd86b,
505px 606px #FFF,
707px 808px #FFF,
909px 1010px #ffcc33,
111px 1212px #FFF,
1313px 1414px #fff2b0,
1515px 1616px #FFF,
1717px 1818px #ffd86b,
1919px 50px #FFF,
20px 500px #ffcc33,
800px 300px #FFF,
1200px 600px #ffd86b,
1500px 1000px #FFF,
400px 1800px #fff2b0,
600px 150px #FFF,
100px 1100px #ffd86b,
1800px 400px #FFF,
350px 750px #ffcc33,
950px 1250px #FFF,
1650px 150px #fff2b0,
250px 1950px #FFF,
1150px 850px #ffd86b,
550px 250px #FFF,
150px 1350px #ffcc33,
1350px 1750px #FFF,
1750px 350px #ffd86b,
450px 1150px #FFF,
750px 1550px #fff2b0,
1250px 450px #FFF,
1650px 1850px #ffcc33,
50px 1650px #FFF,
850px 50px #ffd86b;
}

/* Layer 3: Large stars */
#stars3 {
    width: 4px;
    height: 4px;
    background: transparent;
    box-shadow: 1744px 122px #FFF,
134px 1321px #ffd86b,
92px 859px #FFF,
123px 123px #ffcc33,
456px 456px #FFF,
789px 789px #fff2b0,
101px 202px #FFF,
303px 404px #ffd86b,
505px 606px #FFF,
707px 808px #FFF,
909px 1010px #ffcc33,
111px 1212px #FFF,
1313px 1414px #fff2b0,
1515px 1616px #FFF,
1717px 1818px #ffd86b,
1919px 50px #FFF,
20px 500px #ffcc33,
800px 300px #FFF,
1200px 600px #ffd86b,
1500px 1000px #FFF,
400px 1800px #fff2b0,
600px 150px #FFF,
100px 1100px #ffd86b,
1800px 400px #FFF,
350px 750px #ffcc33,
950px 1250px #FFF,
1650px 150px #fff2b0,
250px 1950px #FFF,
1150px 850px #ffd86b,
550px 250px #FFF,
150px 1350px #ffcc33,
1350px 1750px #FFF,
1750px 350px #ffd86b,
450px 1150px #FFF,
750px 1550px #fff2b0,
1250px 450px #FFF,
1650px 1850px #ffcc33,
50px 1650px #FFF,
850px 50px #ffd86b;
animation: animStar 180s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 4px;
    height: 4px;
    background: transparent;
    box-shadow: 1744px 122px #FFF,
134px 1321px #ffd86b,
92px 859px #FFF,
123px 123px #ffcc33,
456px 456px #FFF,
789px 789px #fff2b0,
101px 202px #FFF,
303px 404px #ffd86b,
505px 606px #FFF,
707px 808px #FFF,
909px 1010px #ffcc33,
111px 1212px #FFF,
1313px 1414px #fff2b0,
1515px 1616px #FFF,
1717px 1818px #ffd86b,
1919px 50px #FFF,
20px 500px #ffcc33,
800px 300px #FFF,
1200px 600px #ffd86b,
1500px 1000px #FFF,
400px 1800px #fff2b0,
600px 150px #FFF,
100px 1100px #ffd86b,
1800px 400px #FFF,
350px 750px #ffcc33,
950px 1250px #FFF,
1650px 150px #fff2b0,
250px 1950px #FFF,
1150px 850px #ffd86b,
550px 250px #FFF,
150px 1350px #ffcc33,
1350px 1750px #FFF,
1750px 350px #ffd86b,
450px 1150px #FFF,
750px 1550px #fff2b0,
1250px 450px #FFF,
1650px 1850px #ffcc33,
50px 1650px #FFF,
850px 50px #ffd86b;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}

#stars, #stars2, #stars3 {
    filter: drop-shadow(0 0 6px rgba(255, 200, 100, 0.9));
}
