---
import { PERSONAL_INFO } from "../../data/personal";
import Section from "../UI/Section.astro";
import Title from "../UI/Title.astro";
---

<Section id="contact" title="Get in Touch" titleClassName="mb-8">
    <p
        class="text-xl text-gray-400 mb-16 text-center max-w-2xl font-light"
        data-aos="fade-up"
        data-aos-delay="200"
    >
        Estoy disponible para cualquier consulta, sugerencia o mensaje. Puedes contactarme cuando lo desees.
    </p>

    <!-- Links -->
    <div
        class="w-full max-w-xl space-y-6"
        data-aos="fade-up"
        data-aos-delay="400"
    >
        {
            PERSONAL_INFO.socialLinks &&
                PERSONAL_INFO.socialLinks.map((link) => (
                    <a
                        href={link.href}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="block font-bold w-full rounded-xl bg-[#140d7c] hover:bg-[#0f0a55] drop-shadow-[5px_5px_0_#870deb] px-6 py-4 text-center text-white"
                    >
                        {link.label}
                    </a>
                ))
        }
    </div>
</Section>
