---
import Links from "../Links/Links.astro";
import Title from "../UI/Title.astro";
import { PERSONAL_INFO } from "../../data/personal";
---

<header
  id="home"
  class="relative h-screen flex flex-col items-center justify-center text-center px-4"
>
  <main class="relative z-10 flex flex-col items-center">
    <Title level={1} animate={true}>
      Hola, yo soy {PERSONAL_INFO.name}
    </Title>
    <p
      class="text-lg md:text-2xl text-white mb-8 max-w-2xl font-medium"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      {PERSONAL_INFO.heroDescription}
    </p>
    <div data-aos="fade-up" data-aos-delay="400">
      <Links />
    </div>
    <a
      href={PERSONAL_INFO.resumeUrl}
      class="px-6 py-3 bg-primary hover:bg-secondary text-white font-semibold rounded-3xl transition-all duration-150
      drop-shadow-[2px_2px_0_#0debd8] active:translate-0.5 active:drop-shadow-none"
      data-aos="fade-up"
      data-aos-delay="600"
    >
      Resume
    </a>
  </main>
</header>
