---
import Links from "../Links/Links.astro";
import Title from "../UI/Title.astro";
import { PERSONAL_INFO } from "../../data/personal";
---

<header
  id="home"
  class="relative h-screen flex flex-col items-center justify-center text-center px-4"
>
  <main class="relative z-10 flex flex-col items-center">
  <img
  src="images/imagenhome.png"
  alt="Foto o avatar de Daniela Serrato"
  class="w-32 h-32 md:w-40 md:h-40 rounded-full object-cover mb-6
         border-4 border-primary shadow-lg"
  data-aos="fade-down"
/>
    <Title level={1} animate={true}>
      Hola, yo soy {PERSONAL_INFO.name}
    </Title>
    <p
      class="text-lg md:text-2xl text-white mb-8 max-w-2xl font-medium"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      {PERSONAL_INFO.heroDescription}
    </p>
    <div data-aos="fade-up" data-aos-delay="400">
      <Links />
    </div>
  </main>
</header>
