---
import "../styles/global.css";
import "../styles/stars.css";
import Navbar from "../components/Navbar/NavBar.astro";
import Footer from "../components/Footer/Footer.astro";
import "aos/dist/aos.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Developers</title>
	</head>
	<body class="bg-gray-950 text-white">
		<div id="stars"></div>
		<div id="stars2"></div>
		<div id="stars3"></div>
		<Navbar />
		<slot />
		<Footer />

		<style is:global>
			html {
				font-family: system-ui, sans-serif;
				scroll-behavior: smooth;
			}

			body {
				margin: 0;
				padding: 0;
			}

			@media (prefers-reduced-motion: reduce) {
				html {
					scroll-behavior: auto;
				}
			}
		</style>

		<script>
			import AOS from "aos";
			AOS.init({
				duration: 2000,
				easing: "ease-out-cubic",
				once: true,
				offset: 100,
			});
		</script>
	</body>
</html>
